{
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "decorators": true,
      "dynamicImport": false,
      "topLevelAwait": true,

      "noImplicitAny": true,
      "alwaysStrict": true,
      "noImplicitOverride": true,
      "noImplicitReturns": true,
      "noImplicitThis": true,
      "strict": true,
      "noUncheckedIndexedAccess": true,
      "removeComments": true,
      "preserveConstEnums": true,
      "sourceMap": true,
      "strictNullChecks": true,
      "esModuleInterop": true,
      "strictFunctionTypes": true
    },
    "transform": {
      "legacyDecorator": true,
      "decoratorMetadata": true
    },
    "target": "es2015",
    "keepClassNames": true,
    "loose": true
  },
  "module": {
    "type": "commonjs",
    "strict": false,
    "strictMode": true,
    "lazy": false,
    "noInterop": false
  },
  "sourceMaps": "inline",
  "minify": true
}
